aiohttp==3.7.4.post0
altgraph==0.17
apiclient==1.0.4
async-timeout==3.0.1
attrs==21.2.0
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
discord==1.0.1
discord.py==1.7.2
future==0.18.2
google-api-client==3.14.159265359.post1
google-api-core==1.27.0
google-api-python-client==2.5.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
h11==0.12.0
httpcore==0.12.3
httplib2==0.19.1
httpx==0.16.1
idna==2.10
instant-api-client==0.1.2
multidict==5.1.0
packaging==20.9
pefile==2021.5.13
praw==7.2.0
prawcore==2.0.0
protobuf==3.17.0
prsaw==0.3.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyNaCl==1.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.4
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
rfc3986==1.5.0
rsa==4.7.2
six==1.16.0
sniffio==1.2.0
spotipy==2.18.0
typing-extensions==3.10.0.0
update-checker==0.18.0
uritemplate==3.0.1
urllib3==1.26.4
websocket-client==1.0.1
yarl==1.6.3
youtube-dl==2021.5.16
